/* 46 Style 2 */
:root {
  --Dark: 51, 58, 86;    /* Vermilion  333A56  51,58,86       */
  --Colour1: 82, 101, 143; /* Sunshine   52658F  82,101,143     */
  --Colour2: 247, 245, 230; /* Fresh      F7F5E6  247,245,230    */
  --Light: 232, 232, 232;   /* Clean      E8E8E8  232,232,232    */
}
