/* 21 Style 3 */
:root {
  --Dark: 107, 122, 143;    /* Blueberry  6B7A8F    107,122,143  */
  --Colour2: 247, 195, 49; /* Citrus     F7C331    247,195,49   */
  --Colour1: 247, 136, 47; /* Apricot    F7882F    247,136,47   */
  --Light: 220, 199, 170;   /* Apple Core DCC7AA    220,199,170  */
}
