/*-------------
 General styles
 -------------- */
*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  background: #fff;
  color: rgb(var(--Dark));
  font-family: 'Open Sans','Trebuchet MS','Arial',sans-serif;
  font-size: 14px;
}
body {
  height: 100%;
  max-width: 1920px;
}
#container {
  /*border: 1px solid red;*/
  width: 76%;
  min-width: 900px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(var(--Light));
  padding: 10px;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 900px) {
  #container {
    min-width: 0px;
    width: 100%;
    padding: 5px;
  }
}

a {
  text-decoration: none;
  color: rgb(var(--Colour1));
}
a:hover {
  color: rgb(var(--Colour2));
}


/*-----------------------
 Header and Footer styles
 ------------------------ */
header,footer,article,nav{
  float: left;
  padding: 10px;
}
header,footer{
  width: 100%;
}
header,footer{
  background-color: rgb(var(--Dark));
  color: #fff;
  text-align: right;
  height: 120px;
}
#name-big, #name-small {
  color: rgb(var(--Light));
  font-size: 2.5em;
  font-weight: bold;
  line-height: 70px;
  vertical-align: bottom;
}
#name-small { display: none; }
@media (min-width: 0px) and (max-width: 540px) {
  #name-big { display: none; }
  #name-small { display: inline-block; }
}
footer{
  background-color: #999;
  height: 40px;
}

#mainMenu {
  text-align: center;
}
.mainMenu {
  color:#fff;
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 390px) and (max-width: 585px) {
  .mainMenu {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 0px) and (max-width: 390px) {
  .mainMenu {
    padding-left: 5px;
    padding-right: 5px;
  }
}
#smlogos {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}
.smlogos {
  display: inline-block;
  padding-left: 5px;
  padding-right: 6px;
}


/*----------------
 Index Page styles
 ----------------- */
#index-page {
  float:none; clear:both;
  margin-left:8%;
  margin-right:8%;
}
@media (min-width: 0px) and (max-width: 900px) {
  #index-page {
    margin-left: 1%;
    margin-right: 1%;
  }
}
article{
  /*border: 1px solid red;*/
  float: left;
  width: 85%;
  position: relative;
  min-height: 750px;
}
@media (min-width: 0px) and (max-width: 900px) {
  article {
    width: 95%;
  }
}
h1{
  padding:0;
  margin:0 0 20px 0;
}
#heading-small { display: none; }
@media (min-width: 0px) and (max-width: 540px) {
  #heading-big { display: none; }
  #heading-small { display: inline-block; }
}
article section{
  padding:0;
}
.fadein {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin-top: 5px;
  margin-right: 10px;
}
.fadein img {
  display: block;
  position:absolute;
  max-width: 600px;
  left:0;
  top:0;
}

.left {
  float: left;
  width: 49%;
  padding-right: 20px;
  padding-bottom: 20px;
}
.right {
  width: 49%;
  min-height: 450px;
  float: left;
  text-align: center;
  overflow: hidden;
}
.centre {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0px) and (max-width: 900px) {
  .fadein img {
    max-width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .left {
    width: 100%;
    padding-right: 0px;
  }
  .right {
    width: 100%;
  }
}

#about-wrapper {
  /*border: 1px solid red;*/
  clear: both;
  margin-top: 400px;
  overflow: hidden;
}
.about {
  display: block;
  width: 30%;
  min-width: 275px;
  min-height: 250px;
  border: 1px solid black;
  margin: 1.5%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  color: rgb(var(--Dark));
}
.second-level-list {
  margin: 0;
  padding:0 0 1em 0;
  list-style-type: none;
}
.about:hover { color: rgb(var(--Dark)); }
.about h3 { display: inline; }
.about li:not(:last-child) { margin-bottom: 1em; }
@media (min-width: 642px) and (max-width: 1450px) {
  .about {
    width: 45%;
    margin: 2.5%;
  }
}
@media (min-width: 0px) and (max-width: 642px) {
  .about {
    width: 85%;
    margin-left: 6%;
  }
  footer {
    height: 60px;
  }
}

#one { }

#two { }

#three { }

#four:hover { color: rgb(var(--Colour2)); }

#five:hover { color: rgb(var(--Colour2)); }

#six:hover { color: rgb(var(--Colour2)); }


/* -----------------
 Contact Page styles
 ------------------- */
#contact-wrapper {
  text-align: center;
}
#contact-content {
  /* border: 1px black solid; */
  margin-left: auto;
  margin-right: auto;
}
.contact {
  width: 500px;
  height: 30px;
  padding: 1px;
}
#message {
  width: 500px;
  height: 300px;
  padding: 5px;
  font-size: 1.1em;
}
#captcha-code {
  width: 175px;
}


/*-------------------
 Projects Page styles
 -------------------- */
 #tagcloud {
     width: 70%;
     margin-top: 30px;
     margin-bottom: 30px;
     margin-left: auto;
     margin-right: auto;
     background: #fff;
     padding: 10px;
     border: 1px solid rgb(var(--Dark));
     text-align:center;
     border-radius: 10px;
 }
 #tagcloud span { padding: 4px; }
 #dropdown { display: none; }

 @media (min-width: 0px) and (max-width: 642px) {
   #tagcloud { display: none; }
   #dropdown { display: block; }
 }

#closeButton {
  display: none;
  float: right;
  margin-right: 20px;
  font-size: 1.5em;
}

#projects { clear: both; }
.project-4 { background-color: rgba(var(--Colour1), 1.0); }
.project-4:hover { background-color: rgba(var(--Colour2), 1.0); }

.project-3 { background-color: rgba(var(--Colour1), 0.8); }
.project-3:hover { background-color: rgba(var(--Colour2), 0.8); }

.project-2 { background-color: rgba(var(--Colour1), 0.6); }
.project-2:hover { background-color: rgba(var(--Colour2), 0.6); }

.project-1 { background-color: rgba(var(--Colour1), 0.4); }
.project-1:hover { background-color: rgba(var(--Colour2), 0.4); }

.project-0 { background-color: rgba(var(--Colour1), 0.2); }
.project-0:hover { background-color: rgba(var(--Colour2), 0.2); }

.categories {
  min-width:100%;
  border:1px solid black;
  margin-bottom:10px;
  padding: 10px;
}

#projectInfo {
  display: none;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.applink {
  display: block;
  width: 300px;
  height: 30px;
  background-color: rgb(var(--Colour1));
  color: #fff;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}
.applink:hover {
  background-color: rgb(var(--Colour2));
  color: #fff;
}

/*-------------------------
 Individual Projects styles
 ----------------------- */
.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#logism {
  max-width: 471px;
  width: 100%
}
#assembly {
  max-width: 373px;
  width: 100%
}
#concurrency {
  max-width: 655px;
  width: 100%;
  max-height: 1904px;
  height: 100%;
}
.enc_output {
  width: 49%;
}
#enc_design {
  max-width: 650px;
  width: 100%;
  /* max-height: 1200px;
  height: 100%; */
}
#netsec {
  clear: both;
}
.congo-img {
  float: left;
}


/*---------------
 Blog Page styles
 ---------------- */
#blog {
  float: none;
  clear:both;
  margin-left:100px;
  margin-right:100px;
}

#navigation {
  /*border: 1px solid black;*/
  float: left;
  width: 180px;
  height: 100%;
}
#navigation h4 {
  color: rgb(var(--Dark));
}
#article-stubs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tree ul {
  list-style: none outside none;
}
.tree li a {
  line-height: 25px;
}
.tree > ul > li > a {
  color: rgb(var(--Dark));
  display: block;
  font-weight: normal;
  position: relative;
  text-decoration: none;
}
.tree li.parent > a {
  padding: 0 0 0 28px;
}
.tree li.parent > a:before {
  background-image: url("/portfolio/images/plus_minus_icons.png");
  background-position: 25px center;
  content: "";
  display: block;
  height: 21px;
  left: 0;
  position: absolute;
  top: 2px;
  vertical-align: middle;
  width: 23px;
}
.tree ul li.active > a:before {
  background-position: 0 center;
}
.tree ul li ul {
  border-left: 1px solid #D9DADB;
  display: none;
  margin: 0 0 0 12px;
  overflow: hidden;
  padding: 0 0 0 25px;
}
.tree ul li ul li {
  position: relative;
}
.tree ul li ul li:before {
  border-bottom: 1px dashed #E2E2E3;
  content: "";
  left: -20px;
  position: absolute;
  top: 12px;
  width: 15px;
}
#wrapper {
  margin: 0 auto;
  width: 300px;
}

#articles {
  /*border: 1px solid black;*/
  float: left;
  margin-left: 10px;
  max-width: 80%;
}
.like-heart {
  color: red;
  font-size: 1.5em;
  cursor: pointer;
}
.dislike-heart {
  color: black;
  font-size: 1.5em;
  margin-left: 10px;
  cursor: pointer;
}
